<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>电影资讯网</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/blog.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">

    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/style.js') }}"></script>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="'js/style.js"></script>



  </head>

  <body style="background:#F0F0F0">
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <a class="navbar-nav nav-item active nav-link text-blue" href="{{ url_for('index')}}" >HOME </span></a>
        <a class="navbar-nav nav-item active nav-link text-white" href="{{ url_for('pattern')}}">PATTERN </span></a>
        <a class="navbar-nav nav-item active nav-link text-white" href="{{url_for('rate')}}">GRADE </span></a>
        <a class="navbar-nav nav-item active nav-link text-white" href="{{url_for('atlas')}}"> ATLAS</span></a>
        <a class="navbar-nav nav-item active nav-link text-white" href="{{url_for('search')}}">CENTER </span></a>
        <a class="navbar-nav nav-item active nav-link text-white" href="#">RECOMMEND </span></a>
      </div>
      <div class="col-4  text-center">
        <a class="blog-header-logo text-white" href="#">Film Information Network</a>
      </div>
      
    </nav>

  
    <div class="container ">
      <div class="p-3 p-md-5 ">
        <div class="col-md-12 px-0">
          <div class="box">
            <div class="list">
              <ul>
                <li class="p7"><a href="https://movie.douban.com/subject/26842702/"  target='_BLANK'><img src="https://images.weserv.nl/?url=img1.doubanio.com/view/photo/s_ratio_poster/public/p2520095279.jpg" alt="" /></a></li>
                <li class="p6"><a href="https://movie.douban.com/subject/27133303/ "  target='_BLANK'><img src="https://images.weserv.nl/?url=img1.doubanio.com/view/photo/s_ratio_poster/public/p2520331478.jpg" alt="" /></a></li>
                <li class="p5"><a href="https://movie.douban.com/subject/24773958/"  target='_BLANK'><img src="https://images.weserv.nl/?url=img3.doubanio.com/view/photo/s_ratio_poster/public/p2517753454.jpg" alt="" /></a></li>
                <li class="p4"><a href="https://movie.douban.com/subject/26640371/"  target='_BLANK'><img src="https://images.weserv.nl/?url=img3.doubanio.com/view/photo/s_ratio_poster/public/p2518856022.jpg" alt="" /></a></li>
                <li class="p3"><a href="https://movie.douban.com/subject/4920389/"  target='_BLANK'><img src="https://images.weserv.nl/?url=img1.doubanio.com/view/photo/s_ratio_poster/public/p2516578307.jpg" alt="" /></a></li>
                <li class="p2"><a href="https://movie.douban.com/subject/26647117/"  target='_BLANK'><img src="https://images.weserv.nl/?url=img3.doubanio.com/view/photo/s_ratio_poster/public/p2517333671.jpg" alt="" /></a></li>
                <li class="p1"><a href="https://movie.douban.com/subject/26416062/"  target='_BLANK'><img src="https://images.weserv.nl/?url=img3.doubanio.com/view/photo/s_ratio_poster/public/p2522069454.jpg" alt="" /></a></li>
              </ul>
            </div>
            
            <div class="buttons">
              <a href="javascript:;"><span class="blue"></span></a>
              <a href="javascript:;"><span></span></a>
              <a href="javascript:;"><span></span></a>
              <a href="javascript:;"><span></span></a>
              <a href="javascript:;"><span></span></a>
              <a href="javascript:;"><span></span></a>
              <a href="javascript:;"><span></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-2" >
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-550">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">动作 / 惊悚 / 冒险</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="https://movie.douban.com/subject/26804147/"  target='_BLANK'>摩天营救 Skyscraper</a>
              </h3>
              <div class="mb-1 text-muted">2018-07-20(中国大陆)</div>
              <p class="card-text mb-auto">在香港市中心，世界上最高、结构最复杂的摩天大楼遭到破坏，危机一触即发。威尔·索耶（道恩·强森 饰）的妻子萨拉（内芙·坎贝尔 饰）和孩子们在98层被劫为人质，直接暴露在火线上。威尔，这位战争英雄……</p>
              <a href="https://movie.douban.com/subject/26804147/" target='_BLANK'>Continue reading</a>
            </div>  
            <img class=" flex-auto d-none d-md-block box-shadow"  style="transform:scale(0.8);"src="https://images.weserv.nl/?url=img3.doubanio.com/view/photo/s_ratio_poster/public/p2527484082.jpg" >
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-550">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success">喜剧 / 动画 / 奇幻 / 冒险</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="https://movie.douban.com/subject/26253783/"  target='_BLANK'>神奇马戏团之动物饼干 Magical Circus : Animal Crackers</a>
              </h3>
              <div class="mb-1 text-muted">2018-07-21(中国大陆)</div>
              <p class="card-text mb-auto">欧文的叔叔在经营着一家以动物表演闻名的马戏团，但一场大火却让叔叔意外去世，马戏团的表演场也全部化为灰烬。此时，……</p>
              <a href="https://movie.douban.com/subject/26253783/" target='_BLANK'>Continue reading</a>
            </div>
            <img class="flex-auto d-none d-md-block box-shadow" style="transform:scale(0.8);"src="https://images.weserv.nl/?url=img3.doubanio.com/view/photo/s_ratio_poster/public/p2528298973.jpg" >
          </div>
        </div>
      </div>

      <div class="container ">
        <div class="row" >
          <div class="col-8 box-shadow" style="background:white" >
            <h3 class="pb-3 mb-4 font-italic border-bottom" >精彩影评 From the DouBan</h3>

            <div class="blog-post">
              <h2 class="blog-post-title">脑洞解析《蚁人2》彩蛋如何联结《复联4》</h2>
              <p class="blog-post-meta">2018-07-10 20:36:58 by <a href="#">大葱看电影</a><br>《蚁人2》</p>
              <p>好吧，大家都被《我不是药神》刷屏，如今都没人关心海外同期上映的一部大热门，所以《蚁人2：黄蜂女现身》，了解一下？ 或许是队对《复联3》长期关注，又或是《复联3》的超强大的世界格局，从而导致大聪在看《蚁..</p>
              <a href="https://movie.douban.com/review/9506053/ "target='_BLANK'>Continue reading</a>
              <hr>
            </div><!-- /.blog-post -->
            <div class="blog-post">
              <h2 class="blog-post-title">如何评价《我不是药神》</h2>
              <p class="blog-post-meta">2018-07-19 14:50:28 by <a href="#">谭卓</a><br>《我不是药神》</p>
              <p>我不是药神》正式跟大家见面挺久了。看到自己参与的电影被这么多人喜欢、讨论，很开心。作为一名演员，出演了这样一部电影，心里多多少少有些感触，想在这里跟大家分享。 拿到剧本时只知道这是一个真实事件改编的电影。剧本写得很好，一下子把我吸引进去。尽管编剧对人物做了...  </p>
              <a href="https://movie.douban.com/subject/26746958/ " target='_BLANK'>Continue reading</a>
              <hr>
            </div><!-- /.blog-post -->
            <div class="blog-post">
              <h2 class="blog-post-title">千呼万唤使出来，犹抱子弹半遮面</h2>
              <p class="blog-post-meta">2018-07-17 13:45:57 by <a href="#">摩西摩西</a><br>《邪不压正》</p>
              <p>说到底，《让子弹飞》过去了这么多年，姜文讲的，仍旧是是赤子之心的浪漫主义和老谋深算的现实主义推到邪势强权的故事。 《药神》的火热还未消退，但话题上，另一部华语电影却已经慢慢的抢夺了视线。在豆瓣这个电影圈，姜文的标签一出场，谁也躲不开。不管褒贬如何，我们都得整...  </p>
              <a href="https://movie.douban.com/review/9523765/"target='_BLANK'>Continue reading</a>
              
            </div><!-- /.blog-post -->


          </div>

          <div class="col-4">
            <div class="p-3 mb-3 bg-white rounded box-shadow">
              <h4 class="微软雅黑">声明</h4>
              <p class="mb-0">本网站数据来源于 <em>豆瓣电影和MOVIELENS</em>仅用作学习和交流，不得私自盗用并用于用途.</p><br>The data from this website are derived from <em>watercress movies and MOVIELENS</em>, which are used for learning and communication.
            </div>
            <div class="p-3 bg-white box-shadow" >
              <h4 class="微软雅黑">最新</h4>            
              <nav class="nav ">
                <a class="nav-link" href="https://movie.douban.com/explore#!type=movie&tag=%E7%83%AD%E9%97%A8&sort=time&page_limit=20&page_start=0" target='_BLANK'>热门</a>
                <a class="nav-link" href="https://movie.douban.com/explore#!type=movie&tag=%E6%9C%80%E6%96%B0&page_limit=20&page_start=0" target='_BLANK'>最新</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E7%BB%8F%E5%85%B8&sort=time&page_limit=20&page_start=0" target='_BLANK'>经典</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E5%8F%AF%E6%92%AD%E6%94%BE&sort=time&page_limit=20&page_start=0" target='_BLANK'>可播放</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E8%B1%86%E7%93%A3%E9%AB%98%E5%88%86&sort=time&page_limit=20&page_start=0" target='_BLANK'>豆瓣高分</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E5%86%B7%E9%97%A8%E4%BD%B3%E7%89%87&sort=time&page_limit=20&page_start=0" target='_BLANK'>冷门加片</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E5%8D%8E%E8%AF%AD&sort=time&page_limit=20&page_start=0" target='_BLANK'>华语</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E6%AC%A7%E7%BE%8E&sort=time&page_limit=20&page_start=0" target='_BLANK'>欧美</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E9%9F%A9%E5%9B%BD&sort=time&page_limit=20&page_start=0" target='_BLANK'>韩国</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E6%97%A5%E6%9C%AC&sort=time&page_limit=20&page_start=0" target='_BLANK'>日本</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E5%8A%A8%E4%BD%9C&sort=time&page_limit=20&page_start=0" target='_BLANK'>动作</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E5%96%9C%E5%89%A7&sort=time&page_limit=20&page_start=0" target='_BLANK'>喜剧</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E7%88%B1%E6%83%85&sort=time&page_limit=20&page_start=0" target='_BLANK'>爱情</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E6%82%AC%E7%96%91&sort=time&page_limit=20&page_start=0" target='_BLANK'>悬疑</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E7%A7%91%E5%B9%BB&sort=time&page_limit=20&page_start=0" target='_BLANK'>科幻</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E6%81%90%E6%80%96&sort=time&page_limit=20&page_start=0" target='_BLANK'>恐怖</a>
                <a class="nav-link " href="https://movie.douban.com/explore#!type=movie&tag=%E6%96%87%E8%89%BA&sort=time&page_limit=20&page_start=0" target='_BLANK'>文艺</a>
              </nav>
            </div>
            <div class="p-3 bg-white box-shadow" style="background:white margin-top:20" >
              <h4 class="微软雅黑">友情链接</h4>
              <nav class="nav flex-column">
                <a class="nav-link" href="https://movie.douban.com/" target='_BLANK'>豆瓣电影</a>
                <a class="nav-link" href="https://movie.douban.com/review/best/" target='_BLANK'>豆瓣影评</a>
                <a class="nav-link" href="https://grouplens.org/datasets/movielens/" target='_BLANK'>MovieLens</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="blog-footer" style="margin-top:20" >
      <p>网站建设仅用于学习和交流</p>
      <p>The Film Information Network built for <a href="https://getbootstrap.com/" target='_BLANK'>Bootstrap</a>
      <p>
        <a href="#">Back to top</a>
      </p>
      <p>ECharts: A Declarative Framework for Rapid Construction of Web-based Visualization
Deqing Li, Honghui Mei, Yi Shen, Shuang Su, Wenli Zhang, Junting Wang, Ming Zu, Wei Chen.
Visual Informatics, 2018 [PDF]</p>
    </footer>



















<script type="text/javascript">
var $a=$(".buttons a");
var $s=$(".buttons span");
var cArr=["p7","p6","p5","p4","p3","p2","p1"];
var index=0;
$(".next").click(
  function(){
  nextimg();
  }
)
$(".prev").click(
  function(){
  previmg();
  }
)
//上一张
function previmg(){
  cArr.unshift(cArr[6]);
  cArr.pop();
  //i是元素的索引，从0开始
  //e为当前处理的元素
  //each循环，当前处理的元素移除所有的class，然后添加数组索引i的class
  $("li").each(function(i,e){
    $(e).removeClass().addClass(cArr[i]);
  })
  index--;
  if (index<0) {
    index=6;
  }
  show();
}
//下一张
function nextimg(){
  cArr.push(cArr[0]);
  cArr.shift();
  $("li").each(function(i,e){
    $(e).removeClass().addClass(cArr[i]);
  })
  index++;
  if (index>6) {
    index=0;
  }
  show();
}
//通过底下按钮点击切换
$a.each(function(){
  $(this).click(function(){
    var myindex=$(this).index();
    var b=myindex-index;
    if(b==0){
      return;
    }
    else if(b>0) {
      /*
       * splice(0,b)的意思是从索引0开始,取出数量为b的数组
       * 因为每次点击之后数组都被改变了,所以当前显示的这个照片的索引才是0
       * 所以取出从索引0到b的数组,就是从原本的这个照片到需要点击的照片的数组
       * 这时候原本的数组也将这部分数组进行移除了
       * 再把移除的数组添加的原本的数组的后面
       */
      var newarr=cArr.splice(0,b);
      cArr=$.merge(cArr,newarr);
      $("li").each(function(i,e){
      $(e).removeClass().addClass(cArr[i]);
      })
      index=myindex;
      show();
    }
    else if(b<0){
      /*
       * 因为b<0,所以取数组的时候是倒序来取的,也就是说我们可以先把数组的顺序颠倒一下
       * 而b现在是负值,所以取出索引0到-b即为需要取出的数组
       * 也就是从原本的照片到需要点击的照片的数组
       * 然后将原本的数组跟取出的数组进行拼接
       * 再次倒序,使原本的倒序变为正序
       */
      cArr.reverse();
      var oldarr=cArr.splice(0,-b)
      cArr=$.merge(cArr,oldarr);
      cArr.reverse();
      $("li").each(function(i,e){
      $(e).removeClass().addClass(cArr[i]);
      })
      index=myindex;
      show();
    }
  })
})
//改变底下按钮的背景色
function show(){
    $($s).eq(index).addClass("blue").parent().siblings().children().removeClass("blue");
}
//点击class为p2的元素触发上一张照片的函数
$(document).on("click",".p2",function(){
  previmg();
  return false;//返回一个false值，让a标签不跳转
});
//点击class为p4的元素触发下一张照片的函数
$(document).on("click",".p4",function(){
  nextimg();
  return false;
});
//      鼠标移入box时清除定时器
$(".box").mouseover(function(){
  clearInterval(timer);
})
//      鼠标移出box时开始定时器
$(".box").mouseleave(function(){
  timer=setInterval(nextimg,4000);
})
//      进入页面自动开始定时器
timer=setInterval(nextimg,4000);
</script>
    
  </body>


</html>
